---
import Layout from '../../layouts/Layout.astro';
import LoginForm from '../../components/auth/LoginForm';
import { ChevronLeft } from 'lucide-react';
---

<Layout title="Login">
  <main class="min-h-screen flex flex-col items-center justify-center bg-slate-50 px-4 relative">
    <LoginForm client:load />
  </main>
</Layout>
