---
import '@fontsource-variable/inter';
import '@/index.css';
import { Toaster } from 'sonner';

interface Props {
	title: string;
  description?: string;
}

const { title, description = "Sistem POS UMKM Cerdas" } = Astro.props;
---

<!doctype html>
<html lang="id">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/png" href="/kry+logo.png" />
		<meta property="og:image" content="/kry+logo.png" /> 
		<title>{title} | KasirKu</title>
	<body class="bg-slate-50 text-slate-900 font-sans antialiased">
		<slot />
    <Toaster client:idle richColors position="top-center" />
	</body>
</html>

<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
</style>
